/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor1: #333974;
  --cor2: #ffffff;
  --cor3: #5cb85c;
  --cor4: #db0808;
  --cor5: #555555;
  --cor6: #0000001a;
  --cor7: #e9ebe8;

  --radiusPadrao: 0.5rem;
}

/* estilos */

body {
  background-image: url("/src/assets/images/background-image.jpg");
}

/* card da todo list */

.app {
  width: 90%;
  margin: 30px auto 30px auto;
  background-color: var(--cor7);
  padding: 15px 20px;
  border-radius: var(--radiusPadrao);
}

h1 {
  text-align: center;
  margin: 15px 0 25px 0;
}

h2 {
  margin-bottom: 20px;
}

.search,
.filter {
  border-bottom: solid 1px var(--cor5);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.filter_options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter_options__alphabetic__buttons {
  display: flex;
  gap: 1rem;
}

.todo_list {
  margin-bottom: 35px;
  border-bottom: solid 1px var(--cor5);
}

.todo_list__todo {
  box-shadow: 0 0 10px var(--cor6);
  background-color: var(--cor2);
  margin-bottom: 20px;
  padding: 0.9rem;
  border-radius: var(--radiusPadrao);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo_list__todo p {
  line-height: 1.5rem;
  word-spacing: 0.1rem;
}

.todo_list__todo--done p {
  text-decoration: line-through;
  font-style: italic;
}

.todo_list__todo__buttons {
  align-self: center;
  display: flex;
  gap: 20px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

button {
  background-color: var(--cor1);
  color: var(--cor2);
  padding: 5px 10px;
  border: none;
  border-radius: var(--radiusPadrao);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s linear;
  font-size: 0.9rem;
  font-weight: 700;
}

button:hover {
  opacity: 1;
}

select {
    background-color: var(--cor2);
}

.buttons__complete_button {
  background-color: var(--cor3);
}

.buttons__remove_button {
  background-color: var(--cor4);
}

/* formulario */
.todo_form {
  margin-bottom: 1.5rem;
}

.todo_form__form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.todo_form__form button {
    align-self: flex-end;
    padding: 0.3rem 1.5rem;
}


input,
select {
  border-radius: var(--radiusPadrao);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--cor5);
  display: block;
  width: 100%;
}
